MajSoulHistory.png
MajSoulTrends.png
gameRecord.json
Gridrecord.csv
九宫格烈火精灵-15707046.csv
setting.json
PrintApp.spec
PrintApp.exe
paipus.txt
__pycache__/
pack/
data/
删除雀魂战绩缓存.bat
gamedata.json
load_html.py
MajSoulHistory.png
dd.json
.vscode/launch.json
webpack-demo/node_modules/
gistfile1.md
.vscode/
webpack-demo/dist/