[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "http://mirrors.aliyun.com/pypi/simple --trusted-host mirrors.aliyun.com"
verify_ssl = true
name = "mirrorsaliyun"

[[source]]
url = "mirrors.aliyun.com"
verify_ssl = true
name = ""

[[source]]
url = "http://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "mirrorsaliyun-533"

[packages]
pywebview = "*"
matplotlib = "*"

[dev-packages]
pywebview = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"

[requires]
python_version = "3.11"
